.showFirst {
	opacity: 1 !important;
	transform: scale(1) !important;
	transition: all 0.5s;
}
.showCenter {
	opacity: 1 !important;
	transform: scale(1) !important;

	transition: all 0.5s;
}
.showThird {
	opacity: 1 !important;
	transform: scale(1) !important;
	transition: all 0.5s;
}
